



h1{
    font-size: 80px;

    font-family: Impact;
}
button{
border: 2px solid black;
color: aliceblue;
    width: 250px;
    height: 80px;
    background-color: blue;
    transition: all 0.3;
}
button:hover{
    background-color: green;
}